<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>hideRadioButton</key>
			<true/>
			<key>primaryTitle</key>
			<string>Menu</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>hideRadioButton</key>
			<true/>
			<key>primaryTitle</key>
			<string>Audio Settings</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>English(US)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>English(US)(AC3)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>Spanish(Latin America)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>French(Canada)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>hideRadioButton</key>
			<true/>
			<key>primaryTitle</key>
			<string>Subtitles</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>Off</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>English(CC)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>English(United States)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>Spanish(Latin America)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>French(Canada)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>hideRadioButton</key>
			<false/>
			<key>primaryTitle</key>
			<string>Portuguese(Brazil)</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>hideDropDown</key>
			<true/>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
