<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Menu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Audio Settings</string>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>English (US)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>English (US) (AC3)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Spanish (Latin America)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>French (Canada)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Subtitles</string>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Off</string>
			</dict>
			<dict>
				<key>title</key>
				<string>English (CC)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>English (US)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Spanish (Latin America)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>French (Canada)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Portuguese (Brazil)</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
