<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NextGenPOC-Native.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4921D9721C3EFD0B00ED2AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4921D9891C3EFD0B00ED2AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4921D9941C3EFD0B00ED2AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
